@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&family=Raleway:wght@400;500;600;700&display=swap");
:root{
    --grey : #636C79;
    --light-grey: #758283;
    --light-green : #8BB7A2;
    --white: #ffffff;
    --black: #000000;
}
*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
}
body{
    width: 100vw;
}
.main{
    overflow: hidden;
}
.hero-container{
    background-color: var(--grey);
    width: 100%;
    display: flex;
    flex-direction: column;
}
/* Navbar CSS */
.navbar{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 1.4rem 3rem;
}
.nav-img img{
    width: 6rem;
}
.list-items{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3rem;
    color: var(--white);
}
.list-item{
    list-style-type: none;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
}
.nav-btn{
    color: var(--white);
    border: 1px solid var(--white);
    margin: 1rem 0;
    padding: 10px 30px;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
}
/* Hero one */
.hero-one{
    display: flex;
    margin: 3rem 1rem 1rem 10rem;
    gap: 7rem;
}
.hero-one-left{
    width: 40%;
}
.hero-one-left img{
    width: 32rem;
    width: 92%;
    height: 35rem;
    height: 80%;
}
.hero-one-right{
    width: 40%;
    color: var(--white);
}
.hero-one-right h2{
    font-size: 3.5rem;
}
.hero-one-right p{
    margin: 2rem 0;
    font-size: 1.1rem;
    line-height: 35px;
}
.email-div{
    border: 2px solid var(--white);
    background-color: var(--white);
    padding: 5px 0;
}
.email-div img{
    width: 30px;
    height: 30px;
}
.email-div input{
    border: none;
    width: 55%;
    height: 45px;
    font-size: 18px;
}
.hero-btn{
    padding: 15px 50px;
    background-color: var(--light-green);
    color: var(--white);
    font-size: 22px;
    border: none;
    cursor: pointer;
}
/* Hero Section 2 Target  */
.target{
    display: flex;
    flex-direction: column;
}
.target-heading{
    text-align: center;
    font-size: 26px;
    width: 39%;
    margin: 5rem 30%;
}
.target-data{
    display:flex;
    margin: 2rem 0 2rem 8.5rem;
}
.title{
    font-weight: 900;
    font-size: 26px;
}
.card-description{
    font-weight: 500;
    font-size: 20px;
}
.target-img{
    display: flex;
    justify-content: center;
}
.target-img img{
    width: 70vw;
    height: 80vh;
}
/* Hero Section 3 */
.hero-three-heading{
    text-align: center;
    font-size: 26px;
    width: 39%;
    margin: 5rem 30%;
    font-weight: 600;
    font-size: 56px;
}
.hero-three-content{
    display: flex;
    gap: 5.5rem;
}
.hero-three-content-left{
    margin: 0 2rem 0 9rem;
    width: 100%;
}
.hero-three-content-left h2{
    font-weight: 900;
    font-size: 3.5rem;
}
.hero-three-content-left p{
    color: var(--light-grey);
    line-height: 35px;
    width: 80%;
    font-size: 1.1rem;
    text-align: justify;
}
.hero-three-content-right img{
    width: 70%;
}
/* Hero Four CSS */
.hero-four{
    display: flex;
    margin: 6rem 0;
}
.hero-four-left{
    width: 90%;
    display: flex;
    justify-content: space-around;
}
.hero-four-left img{
    width: 80%;
}
.hero-four-right{
    margin-right: 8rem;
}
.hero-four-right h2{
    font-weight: 900;
    font-size: 3.5rem;
}
.hero-four-right p{
    color: var(--light-grey);
    line-height: 35px;
    width: 90%;
    font-size: 1.1rem;
    text-align: justify;
    margin-bottom: 2rem;
}
/* Hero Section five */
.hero-five{
    display: flex;
    justify-content: space-around;
}
.hero-five .hero-three-content .hero-three-content-left{
    width: 100vw;
}
/* Team Description */
.team-desc{
    display: flex;
    margin: 6rem 0;
    align-items: center;
    justify-content: center;
}
.team-desc h2{
    margin: 0 8.5rem;
    font-weight: 900;
    font-size: 3.5rem;
}
.team-desc p{
    margin-right: 9rem;
    color: var(--light-grey);
    line-height: 35px;
    width: 60%;
    padding-top: 15px;
    font-size: 1.1rem;
}
/* Team Cards */
.team-cards{
    display: flex;
    margin: 2rem 7.5rem; 
    flex-wrap: wrap;
    justify-content: space-around;
}
.card{
    width: 20rem;
}
.card img{
    height: 25rem;
}
.card h3{
    margin: 10px 0;
}
.card p{
    width: 90%;
}
.card-container{
    margin-bottom: 8rem;
}
.card-container button{
    margin: 0 0 0 42%;
}
/* Footer  */
footer{
    background-color: #10181D;
    height: 28rem;
}
.footer-top{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.footer-top-left{
    margin: 20px 125px;
}
.footer-top-right{
    margin-right: 8rem;
    display: flex;
    gap: 0.5rem;
}
.footer-top-right img{
    border-radius: 50%;
    padding: 5px;
    background-color: var(--light-grey);
    margin: 20px 5px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
footer hr{
    width: 84%;
    margin-left: 120px;
}
.footer-bottom{
    color: var(--white);
    display: flex;
    flex-wrap: wrap;
    margin: 5rem 0 0 9rem;
    gap: 8.5rem;
}
.footer-bottom li{
    list-style: none;
    line-height: 40px;
    color: var(--light-grey);
}
.footer-bottom li:first-child{
    color: var(--white);
    font-weight: 700;
}